{{!-- {{<script src="https://kit.fontawesome.com/2a36eabb22.js" crossorigin="anonymous"></script>}} --}}

<a class="new-post-link" href="/posts/new">New post</a>

<!-- Portfolio Gallery Grid -->
<div class="row posts">
  {{#each posts}}
  <div class="column post">
    <div class="content">
      <div class="image">
        {{#if this.image}}
          <img src={{this.image}} alt={{this.message}} style="width:100%">
        {{/if}}
      </div>
      <h3>{{this.user_id.name}}</h3>
      <p>{{this.message}}</p>

      <div class="buttons">
        <div class="likes">
          <form action="/likes" method="post">
            <input type="hidden" name="post_id" value={{this._id}}>
            <input class="like-button" type="submit" value="Like: {{this.likes.length}}">
          </form>
        </div>

        <button class="commentsBtn" value={{this._id}}>Comments {{this.comments.length}}</button>

      </div>

      <div style="display: none" class="comments" id={{this._id}} >
        <ul>
        {{#each this.comments}}
          <li>{{this.message}}</li>
        {{/each}}
        </ul>

        <form id="new-comment-form" action="/comments" method="post">
          <input id="comment" placeholder="Thoughts on this gin?" type="text" name="comment" value="">
          <input id="post_id" name="post_id" type="hidden" value="{{this._id}}">
          <input type="submit" value="Comment">
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>